<% books.each do |book| %>
<tbody>
  <tr>
    <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" %></td>
    <td><%= book.title %></td>
    <td><%= book.body %></td>
  </tr>
</tbody>

<% end %>
<%= paginate books %>